{% extends "index.html" %}

{% block plan %}

  <div>
      <p><strong>Meal List</strong></p>
      <ul class="list-unstyled">
          {% for recipe in recipe_selection %}
              <li>{{ recipe.name }}</li>
          {% endfor %}
      </ul>

      <p><strong>Shopping List</strong></p>
      <ul class="list-group">
        {% for item, value in shopping_list.items() %}
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox">
            {{ item }}: {{ value["quantity"] }} {{ value["unit"] }}
          </li>
        {% endfor %}
      </ul>
  </div>

{% endblock %}